<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript" src="/jmol/Jmol.js"></script>
	<meta name="author" content="OAC (www.oa-cagliari.inaf.it)" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/media/style.css" type="text/css" />
	<!-- Date: 2012-09-19 -->
	<title>Theoretical spectral database of polycyclic aromatic hydrocarbons</title>
</head>
<body>
	<div id="page" align="center">
		<div id="header">
			<div id="companyname" align="left">Theoretical spectral database of polycyclic aromatic hydrocarbons</div>
			<div align="right" class="links_menu" id="menu">
				<a href="#">Home</a> | 
				<a href="#">About Us</a> | 
				<a href="/database/">PAH Database</a> | 
				<a href="#">Our Services</a> | 
				<a href="#">Contact Us</a> </div>
		</div>
		<br />
		<div id="content">
			<div id="leftpanel">
				<!--<div class="table_top">
					<div align="center"><span class="title_panel">News</span> </div>
				</div>
				<div class="table_content">
					<div class="table_text">
						<span class="news_date">October 16, 2006</span> <br />
						<span class="news_text">Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien. Nam est.</span><br />
						<span class="news_more"><a href="#">Read More</a></span><br /><br />
						<span class="news_date">September 27, 2006</span> <br />
						<span class="news_text">Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien. Nam est.</span><br />
						<span class="news_more"><a href="#">Read More</a></span>				
					</div>
				</div> 
				<div class="table_top">
					<img src="/media/table_bottom.jpg" width="204" height="23" border="0" alt="" />
				</div>/!-->
				<div class="table_top">
					<span class="title_panel">Links</span>
				</div>
				<div class="table_content">
					<div class="table_text">
						<span class="news_more"><a href="http://www.oa-cagliari.inaf.it">OA Cagliari INAF </a></span><br />
						<span class="news_more"><a href="http://www.vamdc.eu">VAMDC </a></span><br />
					</div>
				</div>
				<div class="table_bottom">
					<img src="/media/table_bottom.jpg" width="204" height="23" border="0" alt="" />
				</div>
				<br />
			</div>
			<div class="content_body">
				<span class="title_blue">{% block title %}{% endblock title%}</span><br />
				<span class="subtitle_gray">{% block subtitle %}{% endblock subtitle%}</span><br />
				<br />
			<div class"jmolbox">{% block jmol %}{% endblock jmol %}</div>
			{% block content %}{% endblock content %}
			{% block content2 %}{% endblock content2 %}
			<br />
			<br />
			</div>
			<!--
			<div class="footer">
				<br />
				<a href="#">Home</a> | <a href="#">About Us</a> | <a href="/database/">PAH Database</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a> | OA-Cagliari INAF. Designed by <a href="http://www.winkhosting.com/">Wink Hosting</a>.
			</div>
			!-->
		</div>
	</div>
</body>
</html>