{% extends "explore/base_vibrationanalisis.html" %}
{% block vector %}
	<div class="mytablerow">
		<span class="mytablecell4">
			<P class="body_text">{{forloop.counter}}</P>
		</span>
		<span class="mytablecell4">
			<P class="body_text">{{v.0|floatformat:roundto}}</P>
		</span>
		<span class="mytablecell4">
			<P class="body_text">{{v.1|floatformat:roundto}}</P>
		</span>
		<span class="mytablecell4">
			<P class="body_text">{{v.2|floatformat:roundto}}</P>
		</span>
	</div>
{% endblock vector %}